
* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
    font-family: fantasy;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslategrey;
}

.container {
 background-color: floralwhite;
 padding: 5vh 10vw;
 width: 70vw;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 row-gap: 15px;
 border-radius: 20px 20px 0 0;
}

.container input {
 padding: 15px 30px;
 font-size: 27px;
 border-radius: 7px;
 border: 1px solud black;
 outline: none;
 background-color: ghostwhite;
}

.container input:hover {
 outline: none;
 background-color: white;
 box-shadow: 0 0 3px 3px skyblue;
 transition: 1s;
}

.container button {
 padding: 15px 30px;
 background-color: black;
 color: white;
 font-size: 25px;
 border: none;
 border-radius: 7px;
}

.container button:hover {
 background-color: white;
 color: black;
 border: 2px solid black;
}

.container-2 {
 display: flex;
 flex-direction: column; 
}

#msg-print-box {
 background-color: antiquewhite;
 padding: 1vh 3vw;
 width: 70vw;
 font-size: 25px;
}

.container-2 button {
 padding: 15px 30px;
 background-color: antiquewhite;
 color: black;
 font-size: 25px;
 border: none;
 border-radius: 7px;
 border-radius: 0 0 20px 20px;
}

.container-2 button:hover {
 background-color: black;
 color: white;

}

#errorThrow  {
  position: absolute;
  bottom: 20vh;
  background-color: #FF6C6C;
  padding: 30px;
  display: none;
  border-radius: 7px;
  font-weight: 900;
}

#et {
  display: flex;
  justify-content: center;
}
